body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 80px;
    color: #EDF2F4;
}
h2{
    font-size: 40px;
    color: #EDF2F4;
    background-color: #2B2D42;
}
header {
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
    margin-bottom: 10px;
    
}
footer {
    padding: 30px;
    color:#8D99AE;
    margin-top: 10px;
    background-color: #2B2D42;
}
section {
    padding: 30px;
    background-color: #8D99AE;
}
a{
    color: #EF233C;
}
